.label {
  color: #f1f1f1; 
  display: grid;
  align-items: center;
    grid-auto-flow: column;
    grid-auto-rows: unset; /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: unset; /* do not set template columns and rows */
    grid-template-rows: 1fr;
    overflow-x: scroll;
  gap: 10px;
  
  }

.label-item {
  background-color: #68a3ca;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
}

.label-item:hover {
  cursor: pointer;
}

.team {
  margin-top: 16px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .label {
    grid-template-columns: auto;
    gap: 15px;
  }

  .label-item > div {
    padding: 10px;
  }

  .team {
    gap: 15px;
  }
}
